html, body {
  background-color: #b61924;
  overflow-x: hidden;
  overflow-y: hidden;
}

.container {
  font-family: Roboto, Arial, monospace;
  display:flex;
  justify-content:center;
  align-items: center;
  padding-top: 30vh;
  z-index: 500;
}

.name {
  color: #FFF;
}

.developer {
  color: #FFF;
  text-align: center;
}

.findme {
  color: #EEE;
}

.link {
  color: #FFF;
}

.link:hover {
  cursor: pointer;
}

.link:visited {
  color: #FFF;
}

.background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  user-select: none;
  pointer-events: none;
}
